/* Proprietà generali */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Inter', sans-serif;
}
.colonna{ /* Debug */
  background-color: yellow;
  min-height: 150px;
  margin: 20px 0;
}
.contenitore, .contenitore0{
  padding: 0 10%;
}
@media all and (max-width: 991px) {
  .contenitore0{
    padding: 0 1%;
  }
}
@media all and (max-width: 767px) {
  .contenitore0{
    padding: 0;
  }
}

section{
  padding: 20px 0;
}
section.whiteback{
  background-color: white;
  min-height: 50px;
}
section.greyback{
  background-color: #cecece;
  min-height: 50px;
}
section.blueback{
  background-color: dodgerblue;
  min-height: 50px;
  color: white;
}
.align-center{
  text-align: center;
}
.white-text{
  color: white;
}
.blue-text{
  color: dodgerblue;
}
.black-text{
  color: black;
}
.paragrafo{
  font-size: 16px;
}

/* Poprietà header */
header{
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}
header img{
  height: 30px;
  vertical-align: middle;
}
  /* Navbar BS */
header .navbar-brand{
  height: auto;
}
header .navbar-default{
  background-color: transparent;
  border: 0;
}
header .navbar{
  margin-bottom: 0;
}
@media all and (min-width: 768px) and (max:width 1099px){
  header .navbar-nav:first-child{
    margin-left: 2%;
  }
}
@media all and (min-width: 1100px){
  header .navbar-nav:first-child{
    margin-left: 9%;
  }
}
/* Links navbar BS */
header .navbar-default .navbar-nav>li>a{
  color: black;
  line-height: 30px;
  font-weight: 500;
  font-size: 14px;
  vertical-align: middle;
  padding-right: 5px;
  padding-left: 5px;
}
header .navbar-default .navbar-nav>li>a i{
  vertical-align: middle;
  margin-left: 2px;
}
header .navbar-default .navbar-nav>li>a:hover,
header .navbar-default .navbar-nav>li>a:active{
  color: #006aff;
}
header .navbar-default .navbar-nav>.open>a,
header .navbar-default .navbar-nav>.open>a:focus,
header .navbar-default .navbar-nav>.open>a:hover{
  background-color: transparent;
  color: #006aff;
}
/* Link btn BS */
header .btn-primary.active,
header .btn-primary:active,
header .open>.dropdown-toggle.btn-primary{
  /* background-color: #004aff; */
  background-color: transparent;
  border-color: #4d9bfd;
  color: #4d9bfd!important;
  height: 40px;
  margin: 10px 0;
  width: auto;
}
header .btn-primary.active:hover,
header .btn-primary.active:focus,
header .btn-primary:active:focus,
header .btn-primary:active:hover{
  color: white!important;
  border-color: #4d9bfd;
  background-color: #4d9bfd!important;
}
#lastbtn{
  max-width: 72px;
}
#lastbtn a{
  padding: 4px 7px;
}
/* Hamburger BS */
header .navbar-default .navbar-toggle{
  border: 1px solid transparent;
  margin: 13px 15px;
}
header .navbar-default .navbar-toggle .icon-bar{
  background-color: #004aff;
}
/* BS bottone e navbar collapse visibili fino a 991px (Soluzione presa da internet)*/
@media (max-width: 991px) {
  .navbar-header {
    float: none;
  }
  .navbar-left,.navbar-right {
    float: none !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
    display: none!important;
  }
  .navbar-nav {
    float: none!important;
    margin-top: 7.5px;
  }
  .navbar-nav>li {
    float: none;
  }
  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .collapse.in{
    display:block !important;
  }
  .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

/* Poprietà main */
/* Riga jumbojoin */
.jumbojoin{
  background-color: dodgerblue; /* Debug */
  min-height: 500px; /* Debug */
  background-image: url("../img/jumbo.svg");
  background-position: right 0 bottom 0;
  background-size: cover;
  padding: 60px 0;
  margin-top: 60px;
}
  /* Titolo jumbo */
.jumbojoin .big{
  font-size: calc(30px + 0.5vw);
}
/* Finestra bianca sx */
.googlesign{
  background-color: white;
  padding: 15px 20px 30px;
  border-radius: 5px;
  overflow: hidden;
}
.googlesign h3, .jumbojoin h2{
  font-weight: 700;
}
.googlesign form input{
  width: 100%;
  min-height: 35px;
  padding: 5px;
  border: 1px solid #cecece;
  border-radius: 5px;
  margin: 0 0 15px;
}

/* Bottoni BS finestra bianca */
.googlesign .btn-primary.active,
.googlesign .btn-primary:active,
.googlesign .open>.dropdown-toggle.btn-primary{
  background-color: dodgerblue;
  width: 100%;
  border-color:  dodgerblue;
  margin: 0 0 5px;
  font-size: 15px;
  overflow: hidden;
  font-weight: 600;
}
/* Bottoni:hover BS finestra bianca */
.googlesign  .btn-primary.active:hover,
.googlesign  .btn-primary.active:focus,
.googlesign  .btn-primary:active:focus,
.googlesign  .btn-primary:active:hover{
  background-color: blue;
  border-color: blue;
}
/* Bottoni BS google */
.googlesign #google {
  background-color: white;
  border: 1px solid #cecece;
  color: grey;
  position: relative;
}
/* Immagine btn BS google */
#google img{
  float: left;
  height: 20px;
}
.googlesign p{
  margin-top: 10px;
}
/* link terms */
.blue-link{
  color: dodgerblue;
}
/* Riga partners */
.partners{
  min-height: 200px;  /* Debug */
}

/* Riga deploy */

/* Riga features */

/* Riga region */

/* Riga developmente slide */

/* Proprietà footer */
footer{
  background-color: blue;
  min-height: 400px;
}
